In [1]:
import pandas as pd

In [6]:
df = pd.read_excel('weatherHistory.xlsx')

Question 1

In [7]:
print("a) Reading File:")
df.head()

a) Reading File:

,Formatted_Date,Summary,Precip_Type,Temperature(C),Apparent_Temperature(C),Humidity,Wind_Speed(km/h),Wind_Bearing(degrees),Visibility(km),Loud_Cover,Pressure(millibars),Daily_Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251,15.8263,0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259,15.8263,0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204,14.9569,0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269,15.8263,0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259,15.8263,0,1016.51,Partly cloudy throughout the day.

In [9]:
print("b) Memory Usage:")
df.memory_usage(deep=True)

b) Memory Usage:

Index                          128
Formatted_Date             8294958
Summary                    6539002
Precip_Type                5868640
Temperature(C)              771624
Apparent_Temperature(C)     771624
Humidity                    771624
Wind_Speed(km/h)            771624
Wind_Bearing(degrees)       771624
Visibility(km)              771624
Loud_Cover                  771624
Pressure(millibars)         771624
Daily_Summary              9114683
dtype: int64

In [13]:
#c
print("Dimension=",df.ndim)
print("Space used by each col:")
print(df.memory_usage())

Dimension= 2
Space used by each col:
Index                         128
Formatted_Date             771624
Summary                    771624
Precip_Type                771624
Temperature(C)             771624
Apparent_Temperature(C)    771624
Humidity                   771624
Wind_Speed(km/h)           771624
Wind_Bearing(degrees)      771624
Visibility(km)             771624
Loud_Cover                 771624
Pressure(millibars)        771624
Daily_Summary              771624
dtype: int64

In [17]:
#d
sum(df['Precip_Type'].isnull())

517

In [21]:
#e
df['Precip_Type'].fillna('h',inplace=True)

In [23]:
#f
df.Precip_Type.astype('category')

0        rain
1        rain
2        rain
3        rain
4        rain
         ...
96448    rain
96449    rain
96450    rain
96451    rain
96452    rain
Name: Precip_Type, Length: 96453, dtype: category
Categories (3, object): [h, rain, snow]

In [24]:
#h
df.Precip_Type.unique()

array(['rain', 'snow', 'h'], dtype=object)

In [27]:
#i
df.duplicated().sum()

24

In [28]:
#j
df.drop_duplicates(inplace=True)

Question 3

In [37]:
X = df.iloc[:,4].values
y = df.iloc[:,3].values

In [40]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=1/5,random_state=42)
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train.reshape(-1,1),y_train.reshape(-1,1))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)