In [44]:
import pandas as pd
import tkinter as tk
from tkinter import filedialog

# Importing CSV File

In [45]:
df = pd.read_csv('all_data.csv')

In [46]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

# Droping NaN values and cleaning the data.

In [47]:
df = df.dropna(how='all')
df = df[df['Order Date'].str[0:2]!='Or']
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

### Correcting Columns Type.

In [48]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'])
df['Price Each'] = pd.to_numeric(df['Price Each'])

### Adding Month Column.

In [49]:
df['Month'] = pd.to_datetime(df['Order Date']).dt.month
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4

### What was the best month for sales? How much was earned that month?

In [50]:
df['Sales'] = df['Quantity Ordered'].astype('int') * df['Price Each'].astype('float')

In [51]:
df.groupby(['Month']).sum()

       Quantity Ordered    Price Each         Sales
Month
1                 10903  1.811768e+06  1.822257e+06
2                 13449  2.188885e+06  2.202022e+06
3                 17005  2.791208e+06  2.807100e+06
4                 20558  3.367671e+06  3.390670e+06
5                 18667  3.135125e+06  3.152607e+06
6                 15253  2.562026e+06  2.577802e+06
7                 16072  2.632540e+06  2.647776e+06
8                 13448  2.230345e+06  2.244468e+06
9                 13109  2.084992e+06  2.097560e+06
10                22703  3.715555e+06  3.736727e+06
11                19798  3.180601e+06  3.199603e+06
12                28114  4.588415e+06  4.613443e+06

In [52]:
import matplotlib.pyplot as plt

months = range(1,13)
plt.bar(months,df.groupby(['Month']).sum()['Sales'])
plt.xticks(months)
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.title('Monthly Sale')
plt.tight_layout()
plt.savefig('BestMonth.png')
plt.close()

### What time should we display advertisements to maximize likelihood of customer's buying product?

In [53]:
#Adding Hour Column
df['Hour'] = pd.to_datetime(df['Order Date']).dt.hour
df['Minute'] = pd.to_datetime(df['Order Date']).dt.minute
df['Count'] = 1
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,Hour,Minute,Count
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",4,23.90,8,46,1
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",4,99.99,22,30,1
3,176560,Google Phone,1,600.00,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,600.00,14,38,1
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",4,11.99,14,38,1
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",4,11.99,9,27,1

In [54]:
keys = [hr for hr, df1 in df.groupby(['Hour'])]

plt.plot(keys, df.groupby(['Hour']).count()['Count'])
plt.xticks(keys)
plt.grid()
plt.title('Sale w.r.t Time')
plt.tight_layout()
plt.savefig('Time.png')
plt.close()

### What product sold the most?

In [55]:
product_group = df.groupby('Product')
quantity_ordered = product_group.sum()['Quantity Ordered']

keys = [pair for pair, df1 in product_group]
plt.bar(keys, quantity_ordered)
plt.xticks(keys, rotation='vertical', size=8)
plt.title('Products')
plt.tight_layout()
plt.savefig('Product.png')
plt.close()

### Reason?

In [57]:
prices = df.groupby('Product').mean()['Price Each']

fig, ax1 = plt.subplots()

ax2 = ax1.twinx()
ax1.bar(keys, quantity_ordered, color='g')
ax2.plot(keys, prices, color='b')

ax1.set_xlabel('Product Name')
ax1.set_ylabel('Quantity Ordered', color='g')
ax2.set_ylabel('Price ($)', color='b')
ax1.set_xticklabels(keys, rotation='vertical', size=8)
plt.title('Price of Product')
plt.tight_layout()
plt.savefig('Price.png')
plt.close()

In [58]:
month_grp = df.groupby(['Month'])

In [59]:
month_grp['Product'].value_counts()

Month  Product
1      USB-C Charging Cable        1174
       AAA Batteries (4-pack)      1084
       Lightning Charging Cable    1071
       AA Batteries (4-pack)       1038
       Wired Headphones            1006
                                   ...
12     20in Monitor                 567
       ThinkPad Laptop              539
       Vareebadd Phone              284
       LG Dryer                      86
       LG Washing Machine            80
Name: Product, Length: 228, dtype: int64

## Monthwise Product Sale

### Month 1

In [60]:
month_grp.get_group(1)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 1')
plt.tight_layout()
plt.savefig('M1.png')
plt.close()

### Month 2

In [61]:
month_grp.get_group(2)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 2')
plt.tight_layout()
plt.savefig('M2.png')
plt.close()

### Month 3

In [62]:
month_grp.get_group(3)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 3')
plt.tight_layout()
plt.savefig('M3.png')
plt.close()

### Month 4

In [63]:
month_grp.get_group(4)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 4')
plt.tight_layout()
plt.savefig('M4.png')
plt.close()

### Month 5

In [64]:
month_grp.get_group(5)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 5')
plt.tight_layout()
plt.savefig('M5.png')
plt.close()

### Month 6

In [65]:
month_grp.get_group(6)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 6')
plt.tight_layout()
plt.savefig('M6.png')
plt.close()

### Month 7

In [66]:
month_grp.get_group(7)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 7')
plt.tight_layout()
plt.savefig('M7.png')
plt.close()

### Month 8

In [67]:
month_grp.get_group(8)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 8')
plt.tight_layout()
plt.savefig('M8.png')
plt.close()

### Month 9

In [68]:
month_grp.get_group(9)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 9')
plt.tight_layout()
plt.savefig('M9.png')
plt.close()

### Month 10

In [70]:
month_grp.get_group(10)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 10')
plt.tight_layout()
plt.savefig('M10.png')
plt.close()

### Month 11

In [71]:
month_grp.get_group(11)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 11')
plt.tight_layout()
plt.savefig('M11.png')
plt.close()

### Month 12

In [69]:
month_grp.get_group(12)['Product'].value_counts().sort_values().plot(kind = 'barh')
plt.title('Month 12')
plt.tight_layout()
plt.savefig('M12.png')
plt.close()

In [72]:
from tkinter import *
from PIL import ImageTk, Image

root = Tk()
root.title("Sale Analysis")

plt1= ImageTk.PhotoImage(Image.open('BestMonth.png'))
plt2= ImageTk.PhotoImage(Image.open('Price.png'))
plt3= ImageTk.PhotoImage(Image.open('Time.png'))
plt4= ImageTk.PhotoImage(Image.open('Product.png'))
plt5= ImageTk.PhotoImage(Image.open('M1.png'))
plt6= ImageTk.PhotoImage(Image.open('M2.png'))
plt7= ImageTk.PhotoImage(Image.open('M3.png'))
plt8= ImageTk.PhotoImage(Image.open('M4.png'))
plt9= ImageTk.PhotoImage(Image.open('M5.png'))
plt10= ImageTk.PhotoImage(Image.open('M6.png'))
plt11= ImageTk.PhotoImage(Image.open('M7.png'))
plt12= ImageTk.PhotoImage(Image.open('M8.png'))
plt13= ImageTk.PhotoImage(Image.open('M9.png'))
plt14= ImageTk.PhotoImage(Image.open('M10.png'))
plt15= ImageTk.PhotoImage(Image.open('M11.png'))
plt16= ImageTk.PhotoImage(Image.open('M12.png'))

plt_list=[plt1, plt2, plt3, plt4, plt5, plt6, plt7, plt8, plt9, plt10, plt11, plt12, plt13, plt14, plt15, plt16]

my_label = Label(image=plt1)
my_label.grid(row=0,column=0,columnspan=5)

def forward(plt_no):
    global my_label
    global button_forward
    global button_back
    
    my_label.grid_forget()
    my_label= Label(image=plt_list[plt_no-1])
    button_forward= Button(root, text=">>", command=lambda: forward(plt_no+1))
    button_back= Button(root, text="<<", command=lambda: back(plt_no-1))
   
    if plt_no==16:
        button_forward= Button(root, text=">>", state=DISABLED)
    
    my_label.grid(row=0, column=0, columnspan= 3)
    button_back.grid(row=1, column=0)
    button_forward.grid(row=1, column=2)
    
    
    

def back(plt_no):
    global my_label
    global button_forward
    global button_back
    
    my_label.grid_forget()
    my_label= Label(image=plt_list[plt_no-1])
    button_forward= Button(root, text=">>", command=lambda: forward(plt_no+1))
    button_back= Button(root, text="<<", command=lambda: back(plt_no-1))
   
    if plt_no==1:
        button_back = Button(root, text="<<", state=DISABLED)
        
    my_label.grid(row=0, column=0, columnspan= 3)
    button_back.grid(row=1, column=0)
    button_forward.grid(row=1, column=2)
    
     
    
button_back = Button(root, text="<<", state=DISABLED) 
#button_exit = Button(root, text="Exit Plots", command=root.quit) 
button_forward = Button(root, text=">>", command=lambda: forward(2))

button_back.grid(row=1, column=0)
#button_exit.grid(row=1, column=1)
button_forward.grid(row=1, column=2)

root.mainloop()